*{
 margin: 0;
 padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a202c;
    display: flex;
    justify-content: center;
   
  }
  
  .container {
    margin-top: 10%;
    background-color: #fff;    
    height: 70vh;
    width: 100%;
    padding: 2rem;
    border: solid red;
    border-radius: 20px;
  }
  
  .timer {
    margin-bottom: 3rem;
    color: #000;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    justify-content: space-around;
   
  }
  
  .buttons button {
    background-color: #e53e3e;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .buttons button:hover {
    background-color: #c53030;
    cursor: pointer;
  }
  
  .buttons button:disabled {
    background-color: #a0aec0;
    cursor: default;
  }
  
  .play-icon {
    margin-right: 0.5rem;
  }
  
  .pause-icon {
    margin-right: 0.5rem;
  }
  
  .stop-icon {
    margin-right: 0.5rem;
  }
  